<template name="boss_mini">
	<div name="{{name}}" class="ui segment boss-mini">
		<div class="panel">
			<img class="ui image" src="http://images.niftykins.com/roster/{{name}}.png">
			<h2>{{name}}</h2>
		</div>
	</div>
</template>

<template name="player">
	<div name="{{name}}" class="no-select player {{class}} {{#if out}}out{{/if}}">
		{{name}}
	</div>
</template>

<template name="boss">
	<div name="{{name}}" class="ui segment boss grid">
		<div class="panel column">
			<img class="ui image" src="http://images.niftykins.com/roster/{{name}}.png">
			<h2>{{name}}</h2>
			{{#if playerCount}}
				<h3>{{playerCount}}</h3>
			{{/if}}
		</div>

		<div class="slots column">
			{{#if melees.length}}
				<div class="role">
					<img class="ui left floated image" src="/melee.png">
					<div class="row">
						<div class="melee players">
							{{#each melees}}
								{{> player}}
							{{/each}}
						</div>
					</div>
				</div>
			{{/if}}

			{{#if casters.length}}
				<div class="role">
					<img class="ui left floated image" src="/caster.png">
					<div class="row">
						<div class="casters players">
							{{#each casters}}
								{{> player}}
							{{/each}}
						</div>
					</div>
				</div>
			{{/if}}

			{{#if healers.length}}
				<div class="role">
					<img class="ui left floated image" src="/healer.png">
					<div class="row">
						<div class="healers players">
							{{#each healers}}
								{{> player}}
							{{/each}}
						</div>
					</div>
				</div>
			{{/if}}

			{{#if tanks.length}}
				<div class="role">
					<img class="ui left floated image" src="/tank.png">
					<div class="row">
						<div class="tanks players">
							{{#each tanks}}
								{{> player}}
							{{/each}}
						</div>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</template>
