<template name="sub">
	<div name="{{name}}" class="no-select player sub {{change}}">
		{{name}}
	</div>
</template>

<template name="player_admin">
	<div name="{{name}}" class="no-select player {{class}} {{#if out}}out{{/if}}"
		title="{{getTitle}}">
		{{#if items.length}}<div class="items">{{items.length}}</div>{{/if}}
		{{name}}
	</div>
</template>

<template name="boss_admin">
	<div name="{{name}}" class="ui segment boss grid admin">
		<div class="panel column">
			<img class="ui image" src="http://images.niftykins.com/roster/{{name}}.png">
			<h2>{{name}}</h2>
			{{#if playerCount}}
				<h3>{{playerCount}}</h3>
			{{/if}}

			<div name="{{name}}">
				<div name="melee" class="spot">
					<img src="/melee2.png">
					<i class="triangle large up icon"></i>
					<span>{{spots.melee}}</span>
					<i class="triangle large down icon"></i>
				</div>

				<div name="casters" class="spot">
					<img src="/caster2.png">
					<i class="triangle large up icon"></i>
					<span>{{spots.casters}}</span>
					<i class="triangle large down icon"></i>
				</div>

				<div name="healers" class="spot">
					<img src="/healer2.png">
					<i class="triangle large up icon"></i>
					<span>{{spots.healers}}</span>
					<i class="triangle large down icon"></i>
				</div>

				<div name="tanks" class="spot">
					<img src="/tank2.png">
					<i class="triangle large up icon"></i>
					<span>{{spots.tanks}}</span>
					<i class="triangle large down icon"></i>
				</div>
			</div>
		</div>

		<div class="slots column">
			{{#if melees.length}}
				<div class="role">
					<img class="ui left floated image" src="/melee2.png">
					<div class="row">
						<div class="melee players">
							{{#each melees}}
								{{> player_admin}}
							{{/each}}
						</div>
						<div class="subs">
							{{#each subs "melees"}}
								{{> sub}}
							{{/each}}
						</div>
					</div>
				</div>
			{{/if}}

			{{#if casters.length}}
				<div class="role">
					<img class="ui left floated image" src="/caster2.png">
					<div class="row">
						<div class="casters players">
							{{#each casters}}
								{{> player_admin}}
							{{/each}}
						</div>
						<div class="subs">
							{{#each subs "casters"}}
								{{> sub}}
							{{/each}}
						</div>
					</div>
				</div>
			{{/if}}

			{{#if healers.length}}
				<div class="role">
					<img class="ui left floated image" src="/healer2.png">
					<div class="row">
						<div class="healers players">
							{{#each healers}}
								{{> player_admin}}
							{{/each}}
						</div>
						<div class="subs">
							{{#each subs "healers"}}
								{{> sub}}
							{{/each}}
						</div>
					</div>
				</div>
			{{/if}}

			{{#if tanks.length}}
				<div class="role">
					<img class="ui left floated image" src="/tank2.png">
					<div class="row">
						<div class="tanks players">
							{{#each tanks}}
								{{> player_admin}}
							{{/each}}
						</div>
						<div class="subs">
							{{#each subs "tanks"}}
								{{> sub}}
							{{/each}}
						</div>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</template>
