<template name="menu">
	<div class="header-bg"></div>

	<div class="menu buttons">
		{{#if user}}
			<a href="/logout" title="logout">
				<i class="bigger red sign out icon"></i>
			</a>
		{{else}}
			<a href="/login" title="login">
				<i class="bigger green sign in icon"></i>
			</a>
		{{/if}}

		<a href="{{pathFor 'roster'}}" title="roster">
			<i class="bigger black home icon"></i>
		</a>
		<a href="{{pathFor 'lootsheet'}}" title="loot">
			<i class="bigger black cart icon"></i>
		</a>

		{{#if isAdmin}}
			<a href="{{pathFor 'add'}}" title="add player">
				<i class="bigger black add icon"></i>
			</a>
			<a href="{{pathFor 'remove'}}" title="remove player">
				<i class="bigger black minus icon"></i>
			</a>
			<a href="{{pathFor 'edit'}}" title="edit player">
				<i class="bigger black setting icon"></i>
			</a>
			<a href="{{pathFor 'order'}}" title="reorder bosses">
				<i class="smaller bigger black ordered list icon"></i>
			</a>
			<a href="{{pathFor 'tokens'}}" title="view player tokens">
				<i class="smaller bigger black key icon"></i>
			</a>
		{{/if}}

		{{#unless user}}
			<a href="{{pathFor 'token'}}" title="add player token">
				<i class="smaller bigger black key icon"></i>
			</a>
		{{/unless}}
	</div>
</template>

<template name="jenn">
	<div class="jenn">
		<a href="http://biscomic.com" target="_blank">
			<i class="big magic icon"></i>
			<span>biscomic.com</span>
		</a>
	</div>
</template>

<template name="search">
	<div class="filter">
		<div class="ui huge icon input">
			<input class="typeahead" type="text" placeholder="Search..." value="{{getFilter}}" data-source="names" data-hint="true">
			{{#if getFilter}}
				<i class="close icon" style="cursor: pointer;"></i>
			{{else}}
				<i class="search icon"></i>
			{{/if}}
		</div>

		{{#if getFilter}}
			<div class="view">
				{{#if gridView}}
					<i class="reorder icon"></i>
				{{else}}
					<i class="block layout icon"></i>
				{{/if}}
			</div>

			{{#if countBosses}}
				<div class="counter">
					{{getFilter}} is in for {{pluralize countBosses 'boss'}}
				</div>
			{{/if}}
		{{/if}}
	</div>
</template>
