<template name="remove">
	<div class="remove form">
		<form id="submit-remove" class="ui form segment">
			<div class="ui error message">
				<i class="close icon"></i>
				<div class="header"></div>
				<p class="message"></p>
			</div>

			<div class="field">
				<div class="ui huge icon input">
					<input class="typeahead" type="text" name="name" placeholder="name" data-source="names" data-hint="true">
					<i class="user icon"></i>
				</div>
			</div>

			<button class="ui huge fluid black button" type="submit">Remove Player</button>
		</form>
	</div>
</template>
