<template name="token">
	<div class="token form">
		<form id="submit-token" class="ui form segment">
			<div class="ui error message">
				<i class="close icon"></i>
				<div class="header"></div>
				<p class="message"></p>
			</div>

			<div class="field">
				<div class="ui huge icon input">
					<input type="text" name="token" placeholder="token">
					<i class="key icon"></i>
				</div>
			</div>

			<button class="ui huge fluid black button" type="submit">Add Token</button>
		</form>
	</div>
</template>
